
body{
  font-family: 'Dosis', sans-serif;
  background-image: linear-gradient(top, #fff 30%, rgba(#0cc, 0.5));
}

/* Estilos del cubo */

.wrap-cube{
  perspective: 1000px;
  perspective-origin: 50% 100px;
}

.cube{
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  margin: 100px auto;
  animation: spin 10s linear infinite;
  width: 100px;
  height: 100px;
  transform: scale3d(0.5, 0.5, 0.5);
  margin-top: 120px;
 margin-left: 310px;
}

.face{
  position: absolute;
  width: 100%; /* Ajusta el ancho de las caras del cubo al 100% del contenedor */
  height: 100%; /* Ajusta la altura de las caras del cubo al 100% del contenedor */
  line-height: 100px; /* Ajusta el espacio vertical dentro de las caras del cubo */
  font-size: 12px; 
  text-align: center;
  border: 1px solid #999;
  background: rgba(#ccc, .2);
  box-shadow: inset 0 0 15px rgba(#777, 1);
}

/* Posicionamiento de las caras */

.back{
  transform: translateZ(-100px) rotateY(180deg);
  background-image: url('./assets/HC4.png');
}

.right{
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-image: url('./assets/HC3.png');
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-image: url('./assets/hc.png');
}

.top {
    transform: rotateX(-90deg) translateZ(0px);
    transform-origin: top center;
  background-image: url('./assets/hc.png');
}

.bottom {
  transform: rotateX(90deg) translateY(100px);
  transform-origin: bottom center;
  background-image: url('./assets/HC5.png');
}

.front {
    transform: translateZ(0px);
  background-image: url('./assets/HC2.png');
}

.back,
.right,
.left,
.top,
.bottom,
.front {
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente la cara */
  background-position: center; /* Centra la imagen en la cara */
}
/* Animación */

@keyframes spin{
  from{ transform: rotateY(0); }
  to{ transform: rotateY(-360deg); }
}



.container {
     display: flex;
  justify-content: center;
  align-items: center;
    height: 200px;
    
  }

  





  .wrap-cubeM{
    perspective: 1000px;
    perspective-origin: 50% 100px;
  }
  
  .cubeM{
    transform-style: preserve-3d;
  margin: 100px auto;
  animation: spin 10s linear infinite;
  width: 100px; /* Ajusta el ancho del cubo */
  height: 100px; /* Ajusta la altura del cubo */
  transform: scale3d(0.5, 0.5, 0.5); /* Ajusta la escala del cubo */
  margin-top: 120px;
  
  }
  
  .faceM{
    width: 100%; /* Ajusta el ancho de las caras del cubo al 100% del contenedor */
    height: 100%; /* Ajusta la altura de las caras del cubo al 100% del contenedor */
    line-height: 100px; /* Ajusta el espacio vertical dentro de las caras del cubo */
    font-size: 12px; 
    text-align: center;
    border: 1px solid #999;
    background: rgba(#ccc, .2);
    box-shadow: inset 0 0 15px rgba(#777, 1);
  }
  
  /* Posicionamiento de las caras */
  
  .backM{
    transform: translateZ(-100px) rotateY(180deg);
    background-image: url('./assets/M3.png');
  }
  
  .rightM{
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    background-image: url('./assets/M1.png');
  }
  
  .leftM {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    background-image: url('./assets/M.png');
  }
  
  .topM {
      transform: rotateX(-90deg) translateZ(0px);
      transform-origin: top center;
    background-image: url('./assets/M.png');
  }
  
  .bottomM {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom center;
    background-image: url('./assets/M4.png');
  }
  
  .frontM {
      transform: translateZ(0px);
    background-image: url('./assets/M2.png');
  }
  
  .backM,
  .rightM,
  .leftM,
  .topM,
  .bottomM,
  .frontM {
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir completamente la cara */
    background-position: center; /* Centra la imagen en la cara */
  }
  /* Animación */
  
  @keyframes spin{
    from{ transform: rotateY(0); }
    to{ transform: rotateY(-360deg); }
  }
  
  
  
  .containerM {
      display: grid;
      place-items: center;
      justify-content: center;
     
    }
  
    
    .center-containerM {
      display: grid;
      place-items: center;
    }
    
    .wrap-cubeM {
      perspective: 1000px;
      perspective-origin: 50% 100px;
    }























 
      
      .cube-list {
        display: flex;
        list-style-type: none;
        padding: 0;
      }
      
      .cube-list li {
        margin-right: -400px;
        position: relative;
        left: 100px;
      }
      
      /* Estilos para el primer cubo */
      .center-container {
        display: grid;
        place-items: center;
      }
      
      .wrap-cube {
        perspective: 1000px;
        perspective-origin: 50% 100px;
      }
      
      /* Estilos para el segundo cubo */
      .center-containerM {
        display: grid;
        place-items: center;
      }
      
      .wrap-cubeM {
        perspective: 1000px;
        perspective-origin: 50% 100px;
      }
      
      /* Resto de estilos para los cubos */
      














      .wrap-cubeN {
        perspective: 1000px;
        perspective-origin: 50% 100px;
      }
      
      .cubeN {
        transform-style: preserve-3d;
        margin: 100px auto;
        animation: spin 10s linear infinite;
        width: 100px;
        height: 100px;
        transform: scale3d(0.5, 0.5, 0.5);
        margin-top: 120px;
      }
      
      .faceN {  
        width: 100%;
        height: 100%;
        line-height: 100px;
        font-size: 12px;
        text-align: center;
        border: 1px solid #999;
        background: rgba(#ccc, .2);
        box-shadow: inset 0 0 15px rgba(#777, 1);
      }
      
      .backN {
        transform: translateZ(-100px) rotateY(180deg);
        background-image: url('./assets/N4.png');
      }
      
      .rightN {
        transform: rotateY(-270deg) translateX(100px);
        transform-origin: top right;
        background-image: url('./assets/N3.png');
      }
      
      .leftN {
        transform: rotateY(270deg) translateX(-100px);
        transform-origin: center left;
        background-image: url('./assets/Escudo.png');
      }
      
      .topN {
        transform: rotateX(-90deg) translateZ(0px);
        transform-origin: top center;
        background-image: url('./assets/Escudo.png');
      }
      
      .bottomN {
        transform: rotateX(90deg) translateY(100px);
        transform-origin: bottom center;
        background-image: url('./assets/N1.png');
      }
      
      .frontN {
        transform: translateZ(0px);
        background-image: url('./assets/N2.png');
      }
      
      .backN,
      .rightN,
      .leftN,
      .topN,
      .bottomN,
      .frontN {
        background-size: cover;
        background-position: center;
      }
      
      .containerN {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      

















      .wrap-cubeC {
        perspective: 1000px;
        perspective-origin: 50% 100px;
      }
      
      .cubeC {
        transform-style: preserve-3d;
        margin: 100px auto;
        animation: spin 10s linear infinite;
        width: 100px;
        height: 100px;
        transform: scale3d(0.5, 0.5, 0.5);
        margin-top: 120px;
      }
      
      .faceC {
        width: 100%;
        height: 100%;
        line-height: 100px;
        font-size: 12px;
        text-align: center;
        border: 1px solid #999;
        background: rgba(#ccc, .2);
        box-shadow: inset 0 0 15px rgba(#777, 1);
      }
      
      .backC {
        transform: translateZ(-100px) rotateY(180deg);
        background-image: url('./assets/C.jpg');
      }
      
      .rightC {
        transform: rotateY(-270deg) translateX(100px);
        transform-origin: top right;
        background-image: url('./assets/C.jpg');
      }
      
      .leftC {
        transform: rotateY(270deg) translateX(-100px);
        transform-origin: center left;
        background-image: url('./assets/C.jpg');
      }
      
      .topC {
        transform: rotateX(-90deg) translateZ(0px);
        transform-origin: top center;
        background-image: url('./assets/C.jpg');
      }
      
      .bottomC {
        transform: rotateX(90deg) translateY(100px);
        transform-origin: bottom center;
        background-image: url('./assets/C.jpg');
      }
      
      .frontC {
        transform: translateZ(0px);
        background-image: url('./assets/C.jpg');
      }
      
      .backC,
      .rightC,
      .leftC,
      .topC,
      .bottomC,
      .frontC {
        background-size: cover;
        background-position: center;
      }
      
      .containerC {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
      }
      



      @media (max-width: 984px){
.container{
  display: none;
}


      }

