.App {
  text-align: center;
}


body {
  font-family: 'Roxborough CF', sans-serif;
  background: rgb(153,223,201);
background: linear-gradient(90deg, rgba(153,223,201,1) 23%, rgba(66,134,190,1) 100%);
}

h1{
  font-size: 70px;
  margin: 0;
}
h2{
  font-size: 28px;
  margin: 0;
}
h3{
  font-size: 25px;
  margin: 0;
  text-decoration: underline;
}

.i{
  display: grid;
  justify-content: start; /* Alinear elementos a la izquierda */
  margin-top: 80px;
  margin-left: 100px;
}

.titulo {
  grid-row: 2; /* Mover el título a la segunda fila */
 
}
.subtitulo {
  grid-row: 3;
margin-right: 330px;
}

.sobreMi{
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sobreMi p{
  line-height: 1;
}


.habilidades {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center;
}

.habilidades li {
  margin-right: 10px; /* Ajusta el espacio vertical entre los elementos */
}
.habilidades li:last-child{
  margin-right: 0;
}

.habilidades img {
  max-width: 100%; /* Ajusta el tamaño máximo de las imágenes */
  height: auto; /* Mantiene la proporción de aspecto */
}

#html{
  width: 15%;
}
#node{
  width: 15%;
}

#sql{
  width: 6%;
}

#react{
  width: 6%;
  margin-left: 40px;
}

#gh{
  width: 6%;
  margin-left: 40px;
}