@media (max-width: 354px){
    .i{
        margin-top: 30px;
    }
    .titulo{
        font-size: 30px !important;
    }
    .subtitulo{
        font-size: 16px !important;
    }

}
    @media (min-width: 305px) and (max-width: 600px) {
        .habilidades {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center; /* Centra horizontalmente los elementos */
            align-items: center;
            flex-wrap: wrap !important;
          }
    
          
    #html{
        width: 60%;
      }
      #node{
        width: 50%;
      }
      
      #sql{
        width:20%;
      }
      
      #react{
        width: 16%;
        margin-left: 40px;
      }
      
      #gh{
        width: 16%;
        margin-left: 40px;
      }
      }
      

  

@media (max-width: 480px) {
    .titulo{
        font-size: 40px;
    }
    .subtitulo{
        font-size: 20px;
    }
}

@media (min-width: 601px) and (max-width:925px){
    #html{
        width: 60%;
      }
      #node{
        width: 50%;
      }
      
      #sql{
        width:20%;
      }
      
      #react{
        width: 16%;
        margin-left: 40px;
      }
      
      #gh{
        width: 16%;
        margin-left: 40px;
      }
}

@media (max-width: 725px) {

    .habilidades {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center; /* Centra horizontalmente los elementos */
        align-items: center;
        flex-wrap: nowrap;
      }

    .i{
        display: flex;
       flex-wrap: wrap;
       margin-right: 80px;
    }
.titulo{
    width: 100% !important;
    margin: auto !important;
}
.subtitulo{
    width: 100% !important;
    margin: auto !important;
   }

}

@media (max-width: 827px) {
   .subtitulo{
    width: 100%;
    margin-left: -180px;
   }
   .titulo{
    width: 150%;
    margin-left: -160px;
   }
  }

  @media (max-width: 1095px) {

    #projectos{
    margin-top: 30px;
    }

  }


  @media (min-width: 926px) and (max-width:1095px) {
    #html{ 
        width: 60%;
      }
      #node{
        width: 50%;
      }
      
      #sql{
        width:20%;
      }
      
      #react{
        width: 16%;
        margin-left: 40px;
      }
      
      #gh{
        width: 16%;
        margin-left: 40px;
      }
  }

@media (min-width: 1096px) {
    #html{
        width: 20%;
      }
      #node{
        width: 20%;
      }
      
      #sql{
        width:6%;
      }
      
      #react{
        width: 6%;
        margin-left: 40px;
      }
      
      #gh{
        width: 6%;
        margin-left: 40px;
      }
}
  